.App .message {
  animation-duration: 10s;
  animation-name: fade;
  color: #CCCCCC;
  font-family: "vietnam", "Courier New", "monospace";
  opacity: 10%;
  position: absolute;
  top: 16px;
  left: 16px;
}

@keyframes fade {
  from {
    opacity: 100%;
  }

  to {
    opacity: 10%;
  }
}