.App .message {
  color: #CCCCCC;
  font-family: "vietnam", "Courier New", "monospace";
  position: absolute;
  top: 16px;
  left: 16pxl;
}

.App .message.fadeout {
  animation-duration: 2s;
  animation-name: fadeout;
}

@keyframes fadeout {
  from {
    opacity: 100%;
  }

  to {
    opacity: 0%;
  }
}