.App .message {
  animation-duration: 10s;
  animation-name: fadeout;
  color: #CCCCCC;
  font-family: "vietnam", "Courier New", "monospace";
  position: absolute;
  top: 16px;
  left: 16px;
}

@keyframes fadeout {
  from {
    opacity: 100%;
  }

  to {
    opacity: 0%;
  }
}