@font-face {
  font-family: "redHat";
  src: url("fonts/redhat.ttf");
}

@font-face {
  font-family: "spaceMono";
  src: url("fonts/spacemono.ttf");
}

@font-face {
  font-family: "vietnam";
  src: url("fonts/vietnam.ttf");
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
